# Python and Virtual Environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.venv/
env/
venv/

# Jupyter Notebooks and Temp Files
.ipynb_checkpoints/
*.ipynb_save
*.ipynb_tmp
*.log

# Data and Models
/data/
 /results/
 /outputs/
 /models/
 /checkpoints/
*.csv
*.tsv
*.jsonl

# MLflow and Cache
mlruns/
.cache/
huggingface/
datasets/
wandb/

# OS and IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/